/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.fleet
/.idea
/.vscode
.env.backup
/.sail
/.env.dusk.local
/.php-cs-fixer.cache
/storage/framework/cache/data
/storage/framework/cache/*.php
/storage/framework/sessions/*.php
/storage/framework/testing
/storage/logs/*.log
/public/build
